# EDA

Se verifican los tipos de datos que lee pandas de sqlite vs los tipos de datos de la base de datos NBA_HoopVision con el fin de identificar incompatibilidades y mejorar el proceso de ETL

In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine, inspect
import urllib
import sys

# --- Configuraci√≥n ---
sqlite_db_file = 'nba.sqlite'

sql_server_driver = 'ODBC Driver 17 for SQL Server' 
sql_server_name = 'IAMGROOT'
sql_server_db = 'NBA_HoopVision'

# --- Conexi√≥n SQL Server ---
print(f"üîå Creando conexi√≥n a SQL Server: {sql_server_name}/{sql_server_db}...")
try:
    params = urllib.parse.quote_plus(
        f'DRIVER={{{sql_server_driver}}};'
        f'SERVER={sql_server_name};'
        f'DATABASE={sql_server_db};'
        f'Trusted_Connection=yes;'
    )
    sql_engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
    sql_inspector = inspect(sql_engine)
except Exception as e:
    print(f"‚ùå Error fatal al conectar a SQL Server: {e}")
    sys.exit()

# --- Funciones de Inspecci√≥n ---

def get_sqlite_pandas_types(db_path):
    """Lee todas las tablas de SQLite y devuelve sus Dtypes de Pandas."""
    schemas = {}
    conn = None
    print(f"\n--- üïµÔ∏è‚Äç‚ôÇÔ∏è Inspeccionando SQLite ({db_path}) ---")
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = [row[0] for row in cursor.fetchall()]
        print(f"Tablas encontradas: {len(tables)}")

        for table_name in tables:
            try:
                # Leemos solo 1 fila para inferir tipos r√°pidamente
                df = pd.read_sql_query(f"SELECT * FROM \"{table_name}\" LIMIT 1", conn)
                schemas[table_name] = {col: str(dtype) for col, dtype in df.dtypes.items()}
            except Exception as e:
                print(f"   - ‚ö†Ô∏è No se pudo leer la tabla '{table_name}': {e}")
                schemas[table_name] = {"Error": str(e)}
        
    except Exception as e:
        print(f"‚ùå Error al inspeccionar SQLite: {e}")
    finally:
        if conn:
            conn.close()
    return schemas

def get_sql_server_types(inspector):
    """Lee todas las tablas de SQL Server y devuelve sus tipos."""
    schemas = {}
    print(f"\n--- üïµÔ∏è‚Äç‚ôÄÔ∏è Inspeccionando SQL Server ({sql_server_db}) ---")
    try:
        schemas_db = inspector.get_schema_names()
        # A menudo nos interesa 'dbo', pero busquemos en todas por si acaso
        print(f"Esquemas encontrados: {schemas_db}")
        
        for schema in schemas_db:
             # Omitimos esquemas del sistema
            if schema in ['guest', 'INFORMATION_SCHEMA', 'sys', 'db_owner', 
                          'db_accessadmin', 'db_securityadmin', 'db_ddladmin', 
                          'db_backupoperator', 'db_datareader', 'db_datawriter',
                          'db_denydatareader', 'db_denydatawriter']:
                continue

            tables = inspector.get_table_names(schema=schema)
            print(f"Tablas encontradas en '{schema}': {len(tables)}")
            for table_name in tables:
                full_table_name = f"{schema}.{table_name}"
                try:
                    columns = inspector.get_columns(table_name, schema=schema)
                    schemas[table_name] = {col['name']: str(col['type']) for col in columns}
                except Exception as e:
                    print(f"   - ‚ö†Ô∏è No se pudo leer la tabla '{full_table_name}': {e}")
                    schemas[table_name] = {"Error": str(e)}

    except Exception as e:
        print(f"‚ùå Error al inspeccionar SQL Server: {e}")
    return schemas

def analyze_mismatch(pandas_type, sql_type):
    if not pandas_type or not sql_type:
        return "FALTA DATO"

    p_type = str(pandas_type).lower()
    # Para SQL Server, tomamos el tipo base (ej. 'NVARCHAR' de 'NVARCHAR(255)')
    s_type_full = str(sql_type).upper()
    s_type_base = s_type_full.split('(')[0] 

    # Casos OK (comunes)
    if p_type.startswith('int') and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT']:
        return "‚úÖ OK"
    if p_type.startswith('float') and s_type_base in ['FLOAT', 'REAL', 'DECIMAL', 'NUMERIC']:
        return "‚úÖ OK"
    if p_type == 'object' and s_type_base in ['VARCHAR', 'NVARCHAR', 'TEXT', 'CHAR', 'NCHAR']:
        return "‚úÖ OK"
    if p_type == 'bool' and s_type_base == 'BIT':
        return "‚úÖ OK"
    if p_type.startswith('datetime64') and s_type_base in ['DATE', 'DATETIME', 'DATETIME2', 'SMALLDATETIME', 'TIME']:
        return "‚úÖ OK"

    # Focos Rojos (comunes)
    if p_type.startswith('float') and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT']:
        return f"üö® ¬°{p_type.upper()} vs {s_type_base}! (Necesita Int64 nullable)"
    if p_type == 'object' and s_type_base in ['INT', 'INTEGER', 'BIGINT', 'SMALLINT', 'TINYINT', 'FLOAT', 'REAL', 'DECIMAL', 'NUMERIC', 'BIT', 'DATE', 'DATETIME', 'DATETIME2']:
        return f"üö® ¬°OBJECT vs {s_type_base}! (Necesita conversi√≥n espec√≠fica)"
    if p_type.startswith('int') and s_type_base == 'BIT':
        return f"‚ö†Ô∏è {p_type.upper()} vs BIT (¬øSe mapea 0/1?)"

    # Casos menos comunes o que requieren inspecci√≥n
    if p_type == 'object' and s_type_base not in ['VARCHAR', 'NVARCHAR', 'TEXT', 'CHAR', 'NCHAR']:
        return f"‚ùì OBJECT vs {s_type_base} (Revisar si es texto o necesita conversi√≥n)"

    return "‚ùì Revisar (Combinaci√≥n no cubierta)"

# --- Ejecuci√≥n y Comparaci√≥n ---

sqlite_types = get_sqlite_pandas_types(sqlite_db_file)
sql_server_types = get_sql_server_types(sql_inspector)

print("\n\n--- üìä Comparaci√≥n de Esquemas ---")

# Usamos las tablas de SQLite como base para la comparaci√≥n
all_tables = sorted(list(sqlite_types.keys()))

for table in all_tables:
    print(f"\n=======================================")
    print(f" Tabla: {table}")
    print(f"=======================================")
    
    sqlite_cols = sqlite_types.get(table, {})
    sql_cols = sql_server_types.get(table, {})

    if "Error" in sqlite_cols:
        print(f"  - Error en SQLite: {sqlite_cols['Error']}")
        continue
    if not sql_cols or "Error" in sql_cols:
        print(f"  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!")
        continue

    all_cols = sorted(list(sqlite_cols.keys()))

    print(f"  {'Columna':<30} | {'SQLite (Pandas)':<15} | {'SQL Server':<15} | {'An√°lisis':<30}")
    print(f"  {'-'*30} | {'-'*15} | {'-'*15} | {'-'*30}")

    for col in all_cols:
        p_type = sqlite_cols.get(col, 'N/A')
        s_type = sql_cols.get(col, 'N/A')
        analysis = analyze_mismatch(p_type, s_type)
        print(f"  {col:<30} | {p_type:<15} | {s_type:<15} | {analysis}")

    # Verificamos si hay columnas en SQL Server que no est√°n en SQLite
    missing_in_sqlite = [c for c in sql_cols.keys() if c not in sqlite_cols]
    if missing_in_sqlite:
        print("\n  Columnas ADICIONALES en SQL Server:")
        for col in missing_in_sqlite:
            print(f"    - {col} ({sql_cols[col]})")

print("\n--- Comparaci√≥n Finalizada ---")

# Cerramos el motor de SQL Server
if sql_engine:
    sql_engine.dispose()
    print("üö™ Conexi√≥n a SQL Server cerrada.")

üîå Creando conexi√≥n a SQL Server: IAMGROOT/NBA_HoopVision...

--- üïµÔ∏è‚Äç‚ôÇÔ∏è Inspeccionando SQLite (nba.sqlite) ---
Tablas encontradas: 16

--- üïµÔ∏è‚Äç‚ôÄÔ∏è Inspeccionando SQL Server (NBA_HoopVision) ---
Esquemas encontrados: ['db_accessadmin', 'db_backupoperator', 'db_datareader', 'db_datawriter', 'db_ddladmin', 'db_denydatareader', 'db_denydatawriter', 'db_owner', 'db_securityadmin', 'dbo', 'guest', 'INFORMATION_SCHEMA', 'sys']
Tablas encontradas en 'dbo': 11


--- üìä Comparaci√≥n de Esquemas ---

=======================================
 Tabla: common_player_info
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  birthdate                      | object          | DATE            | üö® ¬°OBJECT vs DATE! (Necesita conversi√≥n espec√≠fica)
  country                        | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_fi_last                | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_first_last             | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  display_last_comma_first       | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  dleague_flag                   | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  draft_number                   | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  draft_round                    | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  draft_year                     | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  first_name                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  from_year                      | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  games_played_current_season_flag | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  games_played_flag              | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  greatest_75_flag               | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  height                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  jersey                         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  last_affiliation               | object          | NVARCHAR(200) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  last_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  nba_flag                       | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  person_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_slug                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  playercode                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  position                       | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  rosterstatus                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  school                         | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season_exp                     | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  team_abbreviation              | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_city                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_code                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id                        | int64           | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚ùì Revisar (Combinaci√≥n no cubierta)
  team_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  to_year                        | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  weight                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)

=======================================
 Tabla: draft_combine_stats
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  bench_press                    | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  body_fat_pct                   | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  first_name                     | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  hand_length                    | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  hand_width                     | object          | DECIMAL(4, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  height_w_shoes                 | object          | DECIMAL(5, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  height_w_shoes_ft_in           | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  height_wo_shoes                | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  height_wo_shoes_ft_in          | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  lane_agility_time              | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  last_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  max_vertical_leap              | float64         | DECIMAL(4, 2)   | ‚úÖ OK
  modified_lane_agility_time     | object          | DECIMAL(5, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  off_drib_college_break_left    | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_college_break_right   | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_college_top_key       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_break_left    | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_break_right   | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  off_drib_fifteen_top_key       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  on_move_college                | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  on_move_fifteen                | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_name                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  position                       | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  spot_college_break_left        | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_break_right       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_corner_left       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_corner_right      | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_college_top_key           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_break_left        | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_break_right       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_corner_left       | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_corner_right      | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_fifteen_top_key           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_break_left            | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_break_right           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_corner_left           | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_corner_right          | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  spot_nba_top_key               | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  standing_reach                 | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  standing_reach_ft_in           | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  standing_vertical_leap         | float64         | DECIMAL(4, 2)   | ‚úÖ OK
  three_quarter_sprint           | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  weight                         | object          | DECIMAL(6, 2)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  wingspan                       | float64         | DECIMAL(5, 2)   | ‚úÖ OK
  wingspan_ft_in                 | object          | NVARCHAR(20) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK

=======================================
 Tabla: draft_history
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  draft_type                     | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  organization                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  organization_type              | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  overall_pick                   | int64           | INTEGER         | ‚úÖ OK
  person_id                      | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_name                    | object          | NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  player_profile_flag            | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  round_number                   | int64           | INTEGER         | ‚úÖ OK
  round_pick                     | int64           | INTEGER         | ‚úÖ OK
  season                         | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  team_abbreviation              | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_city                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id                        | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name                      | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK

=======================================
 Tabla: game
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------
  ast_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  ast_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  blk_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  blk_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  dreb_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  dreb_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3_pct_away                   | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg3_pct_home                   | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg3a_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3a_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3m_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg3m_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fg_pct_away                    | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fg_pct_home                    | object          | DECIMAL(5, 3)   | üö® ¬°OBJECT vs DECIMAL! (Necesita conversi√≥n espec√≠fica)
  fga_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fga_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  fgm_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  fgm_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ft_pct_away                    | float64         | DECIMAL(5, 3)   | ‚úÖ OK
  ft_pct_home                    | float64         | DECIMAL(5, 3)   | ‚úÖ OK
  fta_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  fta_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ftm_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  ftm_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  game_date                      | object          | DATE            | üö® ¬°OBJECT vs DATE! (Necesita conversi√≥n espec√≠fica)
  game_id                        | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  matchup_away                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  matchup_home                   | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  min                            | int64           | DECIMAL(5, 1)   | ‚ùì Revisar (Combinaci√≥n no cubierta)
  oreb_away                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  oreb_home                      | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  pf_away                        | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  pf_home                        | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  plus_minus_away                | int64           | INTEGER         | ‚úÖ OK
  plus_minus_home                | int64           | INTEGER         | ‚úÖ OK
  pts_away                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  pts_home                       | float64         | INTEGER         | üö® ¬°FLOAT64 vs INTEGER! (Necesita Int64 nullable)
  reb_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  reb_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  season_id                      | object          | VARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  season_type                    | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  stl_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  stl_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  team_abbreviation_away         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_abbreviation_home         | object          | NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id_away                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_id_home                   | object          | NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name_away                 | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  team_name_home                 | object          | NVARCHAR(100) COLLATE "SQL_Latin1_General_CP1_CI_AS" | ‚úÖ OK
  tov_away                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  tov_home                       | object          | INTEGER         | üö® ¬°OBJECT vs INTEGER! (Necesita conversi√≥n espec√≠fica)
  video_available_away           | int64           | BIT             | ‚ö†Ô∏è INT64 vs BIT (¬øSe mapea 0/1?)
  video_available_home           | int64           | BIT             | ‚ö†Ô∏è INT64 vs BIT (¬øSe mapea 0/1?)
  wl_away                        | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)
  wl_home                        | object          | BIT             | üö® ¬°OBJECT vs BIT! (Necesita conversi√≥n espec√≠fica)

=======================================
 Tabla: game_info
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: game_summary
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: inactive_players
=======================================
  - ‚ö†Ô∏è ¬°Tabla NO encontrada o con Error en SQL Server!

=======================================
 Tabla: line_score
=======================================
  Columna                        | SQLite (Pandas) | SQL Server      | An√°lisis
  ------------------------------ | --------------- | --------------- | ------------------------------